@{
    ViewData["Title"] = "Character Page";
}
<body>
    <table>
        @foreach (var evt in Model)
        {
            <tr>
                @*<td>@evt.Id</td>*@
                <td>@evt.Name</td>
                <td>@evt.Description</td>
                <td>@evt.NewlyAdded</td>
            </tr>
        }
    </table>
</body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
