@{
    ViewData["Title"] = "Character Page";
}
<body>
    <div class="characters-wrapper">
        @foreach (var chr in Model)
        {
            <div class="character-container">
                <div onclick="location.href='/Character/CharInfo?id=@chr.Id'" class="char-name">
                    <!-- Character Image with reduced opacity -->
                    <div class="character-image" style="background-image: url('@chr.Image');"></div>

                    <!-- Character Name -->
                    <p>
                        <span class="char-name-color">@chr.Name</span>
                    </p>

                    <!-- Newly Added Indicator -->
                    <p class="char-name @(chr.NewlyAdded ? "newly-added-true" : "newly-added-false")">
                        @if (chr.NewlyAdded)
                        {
                            <span>New!</span>
                        }
                    </p>
                </div>
            </div>
        }
    </div>

    <div class="text-right" style="width: 80%; margin: 0 auto; padding: 20px;">
       
        <a class="btn btn-primary" role="button" asp-controller="Character" asp-action="AddChar">
            Create Character
        </a>

        <a class="btn btn-primary" role="button" asp-controller="Fightstyle" asp-action="AddFightstyle">
            Create Fightstyle
        </a>
    </div>
</body>
